
.Employees {
    display: flex;
    background-color: #282c3449;
    padding: 3%;
    justify-content: space-around;
    padding-left: 4%;
  }
  .Employee img {
    border-radius: 50%;
    width: auto;
    height: 150px;
  }
  .Employee h2,
  .Employee p {
    text-align: center;
  }
  